<! -- 添加捐赠图标 -->
<div class ="post-donate">
    <div id="donate_board" class="donate_bar center">
          <button type="button" class="btn btn-danger"
          data-toggle="collapse" data-target="#collapseReward" aria-expanded="false" aria-controls="collapseReward">打赏</button>
        <span class="donate_txt">
           ↑<br>
           <%=theme.reward.text%>
        </span>

        <div class="collapse" id="collapseReward" >
          <div class="well">
            <!-- 支付宝打赏图案 -->
            <img src="<%- theme.reward.alipay %>" style="margin-right: 50px;" height="200" title="支付宝" alt="支付宝打赏">
            <!-- 微信打赏图案 -->
            <img src="<%- theme.reward.wechatpay %>" height="200" title="微信" alt="微信打赏">
            <div>
                <span style="margin-right: 205px;">支付宝</span>
                <span>微信</span>
            </div>
          </div>
        </div>
    </div>

</div>
<! -- 添加捐赠图标 -->